$font-body: Roboto,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Helvetica Neue",
sans-serif;

$font-heading: 'Montserrat',
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Helvetica Neue",
sans-serif;

// --------------------- Colors
$color-app-text: #6d7495;
$color-primary: #f8b72a;
$color-tile-purple: #d0a8fd;
$color-tile-red: #f7bfa7;
$color-tile-indigo: #a7aafd;
$color-tile-yellow: #fdf5a7;
$color-tile-lime: #a4f4dc;